aws_region     = "us-east-1"
environment    = "demo"
instance_type  = "t2.micro"
ami_id         = "ami-0f8a61b66d1accaee"
key_pair_name  = "pro-clubs-bot-demo"
admin_cidr     = "203.0.113.5/32"
s3_bucket_name = "proclubs-analytics-to-demo"
alert_email    = "you@example.com"
